/* purgecss start ignore */

:focus, a:focus, button:focus {
	outline: double 3px theme('colors.gray.400');
	outline-offset: 2px;
}

a, .light-mode a  {
  color: theme('colors.blue.600');
	@apply underline;
}
.dark-mode a {
  color: theme('colors.indigo.300');
}

/* purgecss end ignore */

[x-cloak] {
	display: none;
}

.gradient__body,
.light-mode .gradient__body {
  background: linear-gradient(to top, #fff 50%, theme('colors.gray.400'));
}
.dark-mode .gradient__body {
  background: linear-gradient(to top, theme('colors.gray.900') 50%, theme('colors.gray.800'));
}
.gradient__main,
.light-mode .gradient__main {
  background: linear-gradient(to bottom, #fff 60%, theme('colors.indigo.100'));
}
.dark-mode .gradient__main {
  background: linear-gradient(to bottom, theme('colors.gray.900') 60%, theme('colors.gray.800'));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__body: theme('colors.gray.200');
  }
  .gradient__body {
    background: linear-gradient(to top, theme('colors.gray.900') 50%, theme('colors.gray.800'));
  }
  .gradient__main {
    background: linear-gradient(to bottom, theme('colors.gray.900') 60%, theme('colors.gray.800'));
  }
  a, .light-mode a {
    color: theme('colors.indigo.300');
  }
  * {
    border-color:  theme('colors.gray.700');
  }
}

.light-mode {
  --color__body: theme('colors.gray.900');
}
.dark-mode {
  --color__body: theme('colors.gray.200');
}
.light-mode * {
  border-color: theme('colors.gray.300');
}
.dark-mode * {
  border-color: theme('colors.gray.700');
}



