<section class="absolute inset-0 p-4 rounded-md gradient__white"
  {% pageTransition 'about', 'section' %}>

  {% sectionHeader 'About me' %}

  <div class="h-full flex items-center text-left">
    <div class="px-4 py-8 rounded" style="background-color: var(--color__about)">

      <p class="mb-4">
        I am a <strong>web development</strong> enthusiast who spares most of his time working on multiple projects and learning something new every passing day.
        I like creating different types of websites and applications from the simplest to the most sophisticated designs and functionalities.
      </p>
      <p class="mb-4">
        I've been doing web development quite a long time now and hope to do it for even a longer time.
      </p>
      <p>
        <a href="#" @click="section = 'contact'">Get in touch</a> and let's start your next success project together.
      </p>

    </div>
  </div>
</section>
