<section class="absolute inset-0 p-4 rounded-md gradient__white"
 {% pageTransition 'contact', 'section' %}>

  {% sectionHeader 'Contact me' %}

  <div class="h-full flex items-center">

    <div class="px-4 py-8 rounded" style="background-color: var(--color__contact)">

      <p class="mb-8">Thanks for taking the time to contact me.</p>
      <p>Email me at levon [at] drim [dot] io</p>

    </div>
  </div>
</section>
