<section class="absolute inset-0 flex flex-col justify-center p-4 rounded-md gradient__main"
  x-ref="contact" {% pageTransition 'contact', 'section' %}>

  {% sectionHeading 'contact', i18n.contact.heading %}

  <div class="flex items-center">

    <div class="px-4 py-8 rounded">

      <p class="mb-8" data-en="{{ i18n.contact.s1.en }}" data-es="{{ i18n.contact.s1.es }}">
        {{ i18n.contact.s1.en | safe }}
      </p>

      <p data-en="{{ i18n.contact.s2.en }}" data-es="{{ i18n.contact.s2.es }}">
        {{ i18n.contact.s2.en | safe }}
      </p>

    </div>
  </div>
</section>
