<section class="absolute inset-0 flex flex-col justify-center p-4 rounded-md gradient__main"
  x-ref="contact" {% pageTransition 'contact', 'section' %}>

  {% sectionHeading 'Contact me', 'contact' %}

  <div class="flex items-center">

    <div class="px-4 py-8 rounded">

      <p class="mb-8">Hey, thanks for taking the time to contact me.</p>
      <p>Email me at <br>levon [at] drim [dot] io</p>

    </div>
  </div>
</section>
