<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ page.url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <title>{% if title %}{{ title }} - {% endif %}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

    <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/drim-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/drim-16.png">

    <meta property="og:url" content="{{ site.url}}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
    {% if site.meta_data.default_social_image or featured_image %}
      <meta property="og:image" content="{% if env == 'production' %}{{ site.url }}{% endif %}{% if featured_image  %}{{ featured_image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}" />
    {% endif %}
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="{{ site.author }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ site.meta_data.twitter }}">
    <meta name="twitter:creator" content="{{ site.meta_data.twitter }}">

    <meta name="twitter:dnt" content="on">
    <meta name="google" content="notranslate">
    <link rel="author" href="humans.txt">
