<ul class="absolute top-0 left-0 mt-16 ml-4 w-16 z-10 text-left text-sm"
  {% pageTransition 'menu', 'menu' %}>

  {% menuItem 'Contact', 'contact' %}
  {% menuItem 'Privacy', 'privacy' %}
  {% menuItem 'Terms', 'terms' %}
</ul>
