<ul class="absolute top-0 left-0 mt-16 ml-4 w-16 z-10 text-left text-sm"
  {% pageTransition 'menu', 'menu' %}>

  {% menuItem 'contact', i18n.nav.item1 %}
  {% menuItem 'privacy', i18n.nav.item2 %}
  {% menuItem 'terms', i18n.nav.item3 %}
</ul>
