<div id="oops" class="fixed inset-0 bg-gray-200 z-50 flex flex-col items-center justify-center text-center p-8
  transform translate-x-full opacity-0 transition duration-300 ease-in-out">

  <p class="font-bold text-2xl">❌</p>
  <p class="font-bold text-2xl">Oops, what have <u>you</u> done?</p>
  <p>You discovered the truth now, here it goes.</p>

  <p class="mt-8 px-8 italic text-red-700">
    This website doesn't <strong>work</strong> on landscape mode ...
    <br>
    and I'm <strong>lazy enough</strong> to leave it like this.
  </p>

  <p class="mt-4">
    So please, switch to portrait mode now 🙌
    <br>
    and never ever rotate it back 😉
  </p>

</div>
