<picture class="">
  <source srcset="/static/img/levon.webp" type="image/webp">
  <source srcset="/static/img/levon.jpg" type="image/jpeg">
  <img src="/static/img/levon.jpg" alt="Levon Avetyan" class="block mx-auto my-8 rounded-full"
    style="height: 16vh; max-height: 180px;">
</picture>
