<section class="absolute inset-0 flex flex-col justify-center p-4 rounded-md gradient__main"
  x-ref="privacy" {% pageTransition 'privacy', 'section' %}>

  {% sectionHeading 'privacy', i18n.privacy.heading %}

  <div class="flex items-center text-left">
    <div class="w-full px-4 py-8 rounded">

      <p class="mb-4" data-en="{{ i18n.privacy.s1.en | safe }}" data-es="{{ i18n.privacy.s1.es | safe }}">
        {{ i18n.privacy.s1.en | safe }}
      </p>
      <p class="mb-4" data-en="{{ i18n.privacy.s2.en | safe }}" data-es="{{ i18n.privacy.s2.es | safe }}">
        {{ i18n.privacy.s2.en | safe }}
      </p>

    </div>
  </div>
</section>
