<section class="absolute inset-0 flex flex-col justify-center p-4 rounded-md gradient__main"
  x-ref="projects" {% pageTransition 'projects', 'section' %}>

  {% sectionHeading 'Recent Projects', 'projects' %}

  <div class="flex items-center text-left">
    <div id="projects" class="w-full p-4 grid gap-4 grid-cols-3 items-center justify-center">

      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>
      <div class="h-16 w-16 rounded shadow bg-projects"></div>

    </div>
  </div>
</section>
