<section class="absolute inset-0 flex flex-col justify-center p-4 rounded-md gradient__main"
  x-ref="projects" {% pageTransition 'projects', 'section' %}>

  {% sectionHeading 'projects', i18n.projects.heading %}

  <div class="flex items-center text-left">
    <div id="projects" class="w-full p-4 grid gap-4 grid-cols-3 items-center justify-center">

      {% for i in range(0, 12) %}
        <div class="single-project empty rounded shadow bg-projects" data-project="{{ i }}"></div>
      {% endfor %}

    </div>
  </div>
</section>
