---
layout: base.njk
title: Levon Avetyan |> Web Developer
description: Creating Unique Fine Things That Live On The Internet |> Web Developer |> Levon Avetyan
---

{% include '_includes/_sections/home.njk' %}

<main class="main">

	{% include '_includes/_sections/services.njk' %}
	{% include '_includes/_sections/projects.njk' %}
	{% include '_includes/_sections/tech.njk' %}
	{% include '_includes/_sections/contacts.njk' %}

</main>

{% include '_includes/_sections/footer.njk' %}
