<footer id="footer" class="p-4 text-xl bg-gray-200 text-gray-900">
  <div class="container mx-auto px-4 text-base">
    <span>
      &copy; <span id="current-year"></span> DR!M.IO
    </span>
  </div>
</footer>
