<section id="projects" class="py-32">
  <div class="container mx-auto p-4">

    {% sectionHeading 'Projects', 'Proyectos', 'projects' %}

    <p class="mb-8 text-lg">
      <span lang="en">Discover some of my recent projects, both personal and professional</span>
      <span lang="es">Algunos de mis proyectos recientes personales y profesionales</span>
    </p>

    <div id="projects-wrapper" class="projects-wrapper grid gap-8 justify-center mx-auto text-center"
      style="grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));">
    </div>
  </div>
</section>
