<section id="services" class="py-32 bg-gray-200 text-gray-900">
  <div class="container mx-auto p-4">

    {% sectionHeading 'Services', 'Servicios', 'services' %}

    <div class="services-wrapper grid gap-8 grid-cols-1 lg:grid-cols-2 justify-center mx-auto mb-16">

      <div>
        <h4 class="mb-4 text-3xl font-bold">
          {% include '_includes/_icons/development.svg' %}
          <span lang="en">Website Development</span>
          <span lang="es">Desarrollo de Sitios Web</span>
        </h4>

        <p class="text-lg pr-4">
          <span lang="en">
            All-inclusive website development services from ground-up: starting from design and structure to deployment and publishing. I also provide maintenance services to ensure your website is fully up-to-date and operational.
          </span>
          <span lang="es">
            Desarrollo de sitios web profesionales y completos: desde el diseño y la estructura hasta su implementación y publicación. También ofrezco el servicio de mantenimiento de páginas web para que tu sitio web esté completamente actualizado y operativo.
          </span>
        </p>
      </div>

      <div>
        <h4 class="mb-4 text-3xl font-bold">
          {% include '_includes/_icons/apis.svg' %}
          <span lang="en">APIs & Backends</span>
          <span lang="es">APIs y Backends</span>
        </h4>

        <p class="text-lg pr-4">
          <span lang="en">
            A wide spectrum of design and development of APIs and custom backends of any type, whether you need a powerful new API &amp; backend for your new application or need to extend the functionalities of an existing one.
          </span>
          <span lang="es">
            Diseño y desarrollo de APIs y backends, tanto personalizados como básicos. Si necesitas una nueva API y un backend potente para tu nueva aplicación o bien simplemente ampliar las funcionalidades de una existente, te doy todo la solución.
          </span>
        </p>
      </div>
    </div>

    <div class="text-lg md:flex flex-wrap items-center justify-center">
      <span lang="en">Web Applications</span>
      <span lang="es">Applicaciones web</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">Web Design</span>
      <span lang="es">Diseño web</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">UI/UX</span>
      <span lang="es">UI/UX</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">Website Speed Improvements</span>
      <span lang="es">Velocidad del sitio web</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">Consulting</span>
      <span lang="es">Consulta</span>
    </div>
  </div>
</section>
