<section id="services" class="py-32 bg-gray-200 text-gray-900">
  <div class="container mx-auto p-4">

    {% sectionHeading 'Services', 'Servicios', 'services' %}

    <div class="services-wrapper grid gap-8 grid-cols-1 lg:grid-cols-2 justify-center mx-auto mb-16">

      <div>
        <h4 class="mb-4 text-3xl font-bold">
          {% include '_includes/_icons/development.svg' %}
          <span lang="en">Website Development</span>
          <span lang="es">Desarrollo de Sitios Web</span>
        </h4>

        <p class="text-lg pr-4">
          <span lang="en">All inclusive website development services from ground-up, starting from design and structure to deployment and publishing.</span>
          <span lang="es">Servicios de desarrollo de sitios web todo incluido, desde el diseño y la estructura hasta la implementación y la publicación.</span>
        </p>
      </div>

      <div>
        <h4 class="mb-4 text-3xl font-bold">
          {% include '_includes/_icons/apis.svg' %}
          <span lang="en">APIs & Backends</span>
          <span lang="es">APIs y Backends</span>
        </h4>

        <p class="text-lg pr-4">
          <span lang="en">Designing and developing APIs and custom backends of any type for your new or existing web applications.</span>
          <span lang="es">Diseño y desarrollo de APIs y backends personalizados de cualquier tipo para tus aplicaciones web nuevas o existentes.</span>
        </p>
      </div>
    </div>

    <div class="text-lg md:flex flex-wrap items-center justify-center">
      <span lang="en">Web Applications</span>
      <span lang="es">Applicaciones web</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">Web Design</span>
      <span lang="es">Diseño web</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">UI/UX</span>
      <span lang="es">UI/UX</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">Website Speed Improvements</span>
      <span lang="es">Velocidad del sitio web</span>
      <span class="hidden md:block px-4">|</span>
      <span lang="en">Consulting</span>
      <span lang="es">Consulta</span>
    </div>
  </div>
</section>
