@import 'tailwindcss';

@theme {
  --font-drim: Mona Sans, sans-serif;
  --font-heading: Aref Ruqaa Ink, sans-serif;

  /* CYAN */
  --color-brand-50: oklch(0.984 0.019 200.873);
  --color-brand-100: oklch(0.956 0.045 203.388);
  --color-brand-200: oklch(0.917 0.08 205.041);
  --color-brand-300: oklch(0.865 0.127 207.078);
  --color-brand-400: oklch(0.789 0.154 211.53);
  --color-brand-500: oklch(0.715 0.143 215.221);
  --color-brand-600: oklch(0.609 0.126 221.723);
  --color-brand-700: oklch(0.52 0.105 223.128);
  --color-brand-800: oklch(0.45 0.085 224.283);
  --color-brand-900: oklch(0.398 0.07 227.392);
  --color-brand-950: oklch(0.302 0.056 229.695);
}

@layer components {
  .section {
    @apply px-3 py-12 md:py-24;

    & > div {
      @apply mx-auto max-w-6xl;
    }
  }

  .button {
    @apply cursor-pointer rounded-lg border-0 bg-white px-4 py-2 text-lg font-bold text-slate-800 transition-colors duration-300 ease-linear hover:bg-pink-100;
  }
}

.below-fold {
  content-visibility: auto;
  contain-intrinsic-size: 5000px;
}
