<div class="container mx-auto px-4 py-24">

  <div class="grid gap-8 grid-cols-1 lg:grid-cols-3 items-center py-32">

    <div class="lg:col-span-2 bio">

      <h2 class="mt-0 mb-8 text-5xl">
        <span lang="en">Hi, I'm Levon</span>
        <span lang="es">¡Hola! Soy Levon</span>
      </h2>

      <p class="mb-12">
        <span lang="en">
          I’m a web development expert with an extensive experience, whether you need a simple website with a basic design or one with sophisticated functionalities, I'll make sure the project is properly delivered. I have dedicated many years to web development, and it has always been more than a work but a passion and full dedication.
        </span>
        <span lang="es">
          Soy un experto en desarrollo web con una amplia experiencia. Ya sea que necesitas un sitio web simple con un diseño básico o uno con funcionalidades sofisticadas, me aseguraré de que el proyecto se entregue correctamente. He dedicado muchos años al desarrollo web, y siempre ha sido más que un trabajo sino una pasión y dedicación total.
        </span>
      </p>

      <p class="text-center lg:text-left">
        <a class="no-underline py-2 px-8 text-2xl border border-gray-400 rounded bg-transparent hover:bg-gray-900 cursor-pointer transition duration-300 ease-in-out inline-block"
          href="#" @click.prevent="scroll('contacts')">
          <span lang="en">Hire me</span>
          <span lang="es">Ponte en contacto</span>
        </a>
      </p>
    </div>

    <picture>
      <source srcset="/assets/images/levon.webp" type="image/webp">
      <source srcset="/assets/images/levon.jpg" type="image/jpeg">
      <img src="/assets/images/levon.jpg" alt="Levon Avetyan"
        class="photo block mx-auto rounded-full shadow-lg opacity-75">
    </picture>

  </div>

</div>
