<header id="header" class="fixed top-0 z-10 w-full py-4 text-xl" ref="header">

  <div class="container mx-auto text-center flex items-center justify-between px-4">

    <h1 class="font-bold text-2xl">
      <a href="#" @click.prevent="scroll('home')">
        DR!M.IO
      </a>
    </h1>

    <nav class="nav flex items-center">

      <ul class="list-none flex items-center">
        {% menuItem 'Services', 'Servicios', 'services' %}
        {% menuItem 'Projects', 'Proyectos', 'projects' %}
        {% menuItem 'Technology', 'Tecnología', 'tech' %}
        {% menuItem 'Contact', 'Contacto', 'contacts' %}

        <li>
          <button @click="translate($event)"
            class="m-1 w-12 h-8 flex items-center justify-center rounded leading-none text-4xl opacity-50">
            <span lang="en">🇪🇸</span>
            <span lang="es">🇬🇧</span>
          </button>
        </li>
      </ul>
    </nav>

  </div>
</header>
