:root {
  --color__primary: #8a4040;
  --color__white: #fff;
  --color__black: #1A202C;
  --gradient__bg: linear-gradient(to right, var(--color__primary) 0%, var(--color__primary) 50%, var(--color__white) 50%, var(--color__white) 100%);
  --gradient__fg: linear-gradient(to right, var(--color__white) 0%, var(--color__white) 50%, var(--color__primary) 50%, var(--color__primary) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__primary: #542727;
    --color__white: #b1b1b1;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter.var.woff2') format('woff-variations');
  font-weight: 100 700;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' -20;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color__black);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

strong {
  font-weight: 700;
  font-variation-settings: 'wght' 800, 'slnt' -20;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--color__white);
  background: var(--gradient__bg);
  transition: all 1s ease-in-out;
}

.switch {
  background: var(--gradient__fg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.photo {
  display: block;
  max-width: 10rem;
  margin: 0 auto 0;
}

.photo img {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  opacity: .7;
  transform: rotate(180deg);
  transition: all 2s ease;
}

.photo img:hover {
  animation: upside 4s ease-in-out forwards;
}

@keyframes upside {
  0% {
    opacity: .7;
    transform: rotate(180deg);
  }
  25% {
    opacity: .85;
    transform: rotate(90deg);
  }
  45% {
    opacity: .85;
    transform: rotate(90deg);
  }
  96% {
    opacity: 1;
    transform: rotate(-12deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

h1 {
  position: relative;
  color: var(--color__white);
  font-size: 2rem;
  font-weight: 500;
  font-variation-settings: 'wght' 800, 'slnt' 0;
  line-height: 1;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 4rem;
  }
}

.rect {
  width: max-content;
  margin: 1rem auto;
  padding: 0.25rem 1rem;
  font-size: .85rem;
  font-variation-settings: 'slnt' 0;
  color: var(--color__white);
  background-color: var(--color__black);
}

.rect.offline {
  position: absolute;
  top: 0;
  right: 0;
}

::selection {
  background-color: var(--color__black);
  color: var(--color__white);
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text :focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
