---
layout: base.njk
title: Levon Avetyan |> Web Developer |> DRIM.IO
---

<div id="page" class="w-screen h-screen flex items-center justify-center gradient__body">

  <div class="relative w-full max-w-xs p-4 mx-auto text-center bg-white rounded-md shadow-lg gradient__white">

    {% include "header.njk" %}

    <main id="main">

      <picture class="">
        <source srcset="/static/img/levon.webp" type="image/webp">
        <source srcset="/static/img/levon.jpg" type="image/jpeg">
        <img src="/static/img/levon.jpg" alt="Levon Avetyan" class="block mx-auto my-8 rounded-full"
          style="height: 16vh; max-height: 180px;">
      </picture>

      {% homepageLink 'About me', 'Who I am & what I do', 'about' %}
      {% homepageLink 'Contact me', 'Get in touch', 'contact' %}
      {% homepageLink 'Recent Projects', 'Some of my recent projects', 'projects' %}
      {% homepageLink 'Technology', 'Tech stack I use', 'tech', 'mb-0' %}

      {% include "about.njk" %}
      {% include "contact.njk" %}
      {% include "projects.njk" %}
      {% include "tech.njk" %}

    </main>
  </div>

</div>
