---
layout: base.njk
title: Levon Avetyan |> Web Developer |> DRIM.IO
---

<div class="relative w-full max-w-xs max-h-full flex flex-col py-4 mx-auto text-center bg-white rounded-md shadow-lg gradient__main">

  {% include 'header.njk' %}

  <main id="main" class="relative flex-1">

    <section class="home px-4" x-ref="home">
      {% include 'photo.njk' %}

      {% homepageLink 'About me', 'Who I am & what I do', 'about' %}
      {% homepageLink 'Contact me', 'Get in touch', 'contact' %}
      {% homepageLink 'Recent Projects', 'Some of my recent projects', 'projects' %}
      {% homepageLink 'Technology', 'Tech stack I use', 'tech', 'mb-0' %}
    </section>

    {% include 'about.njk' %}
    {% include 'contact.njk' %}
    {% include 'projects.njk' %}
    {% include 'tech.njk' %}
    {% include 'terms.njk' %}
    {% include 'privacy.njk' %}

  </main>
</div>
